<p id="notice"><%= notice %></p>

<h1>Nuestras iniciativas</h1>

<ul>
  <% @initiatives.each do |initiative| %>
    <li>
      <h2><%= initiative.title %></h2>
      <div>
        <%= image_tag initiative.image, alt: 'Imagen de iniciativa' %>
        <%= initiative.short_description %>
      </div>
      <div><%= link_to 'Ver más', [@ong, initiative] %></div>
    </li>
  <% end %>
</ul>
