<h1><%= @initiative.title %></h1>

<div class="share">
  <h2>Difunde</h2>
  <div class="twitter">
    Twitea esta iniciativa
  </div>
  <div class="facebook">
    Comparte esta iniciativa
  </div>
</div>

<div class="initiative-image">
  <%= image_tag @initiative.image, alt: 'Imagen de iniciativa' %>
</div>

<div class="initiative-description">
  <%= @initiative.description %>
</div>

<%= render 'initiatives/initiative_sign' %>

<%= link_to new_initiative_representatives_email_path(@initiative), class: 'write-representatives' do %>
  Escríbele a tus representantes
<% end %>
