<p id="notice"><%= notice %></p>

<h1>Ongs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Logo</th>
      <th>Email</th>
      <th>Description</th>
      <th>Webpage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ongs.each do |ong| %>
      <tr>
        <td><%= ong.name %></td>
        <td><%= ong.logo %></td>
        <td><%= ong.email %></td>
        <td><%= ong.description %></td>
        <td><%= ong.webpage %></td>
        <td><%= link_to 'Show', [:admin, ong] %></td>
        <td><%= link_to 'Edit', edit_admin_ong_path(ong) %></td>
        <td><%= link_to 'Destroy', ong, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ong', new_admin_ong_path %>
