<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ong.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @ong.logo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ong.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ong.description %>
</p>

<p>
  <strong>Webpage:</strong>
  <%= @ong.webpage %>
</p>

<%= link_to 'Edit', edit_ong_path(@ong) %> |
<%= link_to 'Back', ongs_path %>
