<!DOCTYPE html>
<html>
  <head>
    <title>Wican</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div id="logo">
        <% if content_for?(:logo) %>
          <%= yield :logo %>
        <% else %>
          <%= link_to root_path do %>
            <%= image_tag 'logo.png' %>
          <% end %>
        <% end %>
      </div>
      <div id="user-bar">
        <% if current_user %>
          <div class="name">Bienvenido, <%= current_user.first_name %></div>
          <%= link_to 'Salir', session_path, method: :delete %>
        <% else %>
          <%= link_to 'Inicia sesión', new_session_path %>
        <% end %>
      </div>
    </header>
    <main>
      <% [:alert, :notice].each do |flash_type| %>
        <% if (flash_message = flash[flash_type]).present? %>
          <div class="<%= flash_type %>"><%= flash_message %></div>
        <% end %>
      <% end %>

      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
    <footer>
      <div id="license">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
      </div>
      <div id="project">
        wican 2016
      </div>
    </footer>
  </body>
</html>
